RewriteEngine On

# Only redirect the root URL to public
RewriteRule ^$ public/ [L]

# Allow normal access to other folders/files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]